$colorPrincipale: #106ea2;
$colorHoverMenu : #87ffb4;
$bgColorButton: #fff;
$bgColorButtonHover: #1e9ccf;
$ColorButton: #106ea2;
$ColorButtonHover: #fff;
$backgournd-contenu2: #f9f9f9;
$backgournd-espace-contneu2 :#fff;
$color-border-title : #1ea5d2;
$background-btn-contenu- : linear-gradient(to right top, #219fd2, #1a90c5, #1582b7, #1074a9, #0c669b);
$hoverBtn-btn-contenu- : linear-gradient(to right top, #219fd2, #1a90c5, #1582b7, #1074a9, #0c669b);