/* Call all file **/
/* STYLE HEADER */
header {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#21a3d5), color-stop(#1c95c9), color-stop(#1788bc), color-stop(#137baf), to(#106ea2));
  background-image: linear-gradient(to right top, #21a3d5, #1c95c9, #1788bc, #137baf, #106ea2);
  position: fixed;
  width: 100%;
  z-index: 999;
}

header .logo img {
  max-width: 150px;
  width: 100%;
}

header .menu ul {
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
}

header .menu ul * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

header .menu ul li {
  font-family: arial;
  text-transform: uppercase;
  vertical-align: middle;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}

header .menu ul li a {
  color: #fff;
  font-size: 13px;
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}

header .menu ul li a:before, header .menu ul li a:after {
  height: 2px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #87ffb4;
  width: 0;
}

header .menu ul li a:before {
  top: 0;
  left: 0;
}

header .menu ul li a:after {
  bottom: 0;
  right: 0;
}

header .menu ul li a:hover {
  color: #fff;
}

header .menu ul li a:hover:before, header .menu ul li a:hover:after {
  width: 100%;
}

header .menu ul li.current a {
  color: #fff;
}

header .menu ul li.current a:before, header .menu ul li.current a:after {
  width: 100%;
}

/* END STYLE HEADER */
p {
  color: #6d6d6d;
  font-size: 12px;
}

h4.title-commun {
  margin: 80px 0;
  text-align: center;
  text-transform: capitalize;
}

h4.title-commun span {
  border-bottom: 4px solid #1ea5d2;
}

.section-1 {
  color: #fff;
  padding-top: 180px;
  background: #21a3d5 url("../images/phone.png");
  background-repeat: no-repeat;
  background-position: 95% 78%;
  height: 500px;
}

.section-1 .container {
  width: 60%;
}

.section-1 .container h2,
.section-1 .container p {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.section-1 .container .button-style {
  margin: 40px auto;
  width: 100%;
  text-align: center;
}

.section-1 .container .button-style button {
  background: #fff;
  border-radius: 10px;
  padding: 3px 30px;
  color: #106ea2;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.section-1 .container .button-style button:hover, .section-1 .container .button-style button:focus {
  background: #1e9ccf;
  border: 2px solid #fff;
  color: #fff;
}

.section-1 .container .button-style button:first-child {
  margin-right: 20px;
}

section.section-2 {
  background: #f9f9f9;
}

section.section-2 .espace-all {
  margin-bottom: 100px;
}

section.section-2 .espace-all .espace {
  width: 79%;
  background: #fff;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin: -35px auto 0;
}

section.section-2 .espace-all .espace img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

section.section-2 .espace-all .espace .espace-info {
  padding: 15px;
}

section.section-2 .espace-all .espace .espace-info p {
  font-size: 12px;
  margin-bottom: 0;
}

section.section-2 .espace-all .espace:first-child {
  margin-left: 0;
}

section.section-2 .espace-all .espace:last-child {
  margin-right: 0;
}

section.section-2 .about h4 {
  padding-bottom: 10px;
}

section.section-2 .about h4 span {
  border-bottom: 4px solid #1ea5d2;
  text-transform: capitalize;
}

section.section-2 .about p {
  font-size: 12px;
  line-height: 24px;
  text-align: justify;
}

section.section-2 .about .button-style .btn-info {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#219fd2), color-stop(#1a90c5), color-stop(#1582b7), color-stop(#1074a9), to(#0c669b));
  background-image: linear-gradient(to right top, #219fd2, #1a90c5, #1582b7, #1074a9, #0c669b);
  border-radius: 10px;
  padding: 5px 45px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  margin-right: 10px;
  margin-top: 10px;
}

section.section-2 .about .button-style .btn-info:hover {
  border: 1px solid #219fd2;
  background: #fff;
  color: #219fd2;
}

section.section-2 .about.our-experience {
  margin-top: 100px;
}

section.section-2 .our-services {
  padding-bottom: 150px;
}

section.section-2 .our-services .content-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

section.section-2 .our-services .content-services .image-service-1 {
  background: url("../images/img-serv-1.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}

section.section-2 .our-services .content-services .image-service-2 {
  background: url("../images/img-serv-2.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}

section.section-2 .our-services .content-services .image-service-3 {
  background: url("../images/img-serv-3.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}

section.section-2 .our-services .content-services .image-service-4 {
  background: url("../images/img-serv-4.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}

section.section-2 .our-services .content-services .image-service-5 {
  background: url("../images/img-serv-5.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}

section.section-2 .our-services .content-services .button-style .btn-info {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#219fd2), color-stop(#1a90c5), color-stop(#1582b7), color-stop(#1074a9), to(#0c669b));
  background-image: linear-gradient(to right top, #219fd2, #1a90c5, #1582b7, #1074a9, #0c669b);
  border-radius: 10px;
  padding: 5px 45px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  margin-right: 10px;
  margin-top: 10px;
}

section.section-2 .our-services .content-services .button-style .btn-info:hover {
  border: 1px solid #219fd2;
  background: #fff;
  color: #219fd2;
}

section.section-2 .our-services .content-services .button-style .btn-info {
  padding: 3px 30px;
  font-size: 13px;
}

section.section-2 .our-services .content-services p {
  padding-right: 25%;
  font-size: 12px;
}

section.projects {
  margin: 0 auto;
  background: -webkit-gradient(linear, left bottom, right top, from(#219fd2), color-stop(#1a90c5), color-stop(#1582b7), color-stop(#1074a9), to(#0c669b));
  background: linear-gradient(to right top, #219fd2, #1a90c5, #1582b7, #1074a9, #0c669b);
  padding: 50px 0;
  color: #fff;
}

section.projects .image-profil-1 {
  background: url("../images/imageProfil-1.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}

section.projects .image-profil-2 {
  background: url("../images/imageProfil-2.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}

section.projects .image-profil-3 {
  background: url("../images/imageProfil-3.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}

section.projects p {
  color: #fff;
}

section.projects .details {
  text-align: center;
}

section.projects .details p {
  font-size: 25px;
}

section.projects .details .fa {
  color: #fff;
  font-size: 65px;
  width: auto;
}

section.OurExperts {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
}

section.OurExperts .image-profil-1 {
  background: url("../images/imageProfil-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #21a3d5;
  margin: 0 auto;
  margin-bottom: 20px;
}

section.OurExperts .image-profil-2 {
  background: url("../images/imageProfil-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #21a3d5;
  margin: 0 auto;
  margin-bottom: 20px;
}

section.OurExperts .image-profil-3 {
  background: url("../images/imageProfil-3.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #21a3d5;
  margin: 0 auto;
  margin-bottom: 20px;
}

section.OurExperts .col-md-4 {
  padding: 0 45px;
}

section.OurExperts h5 {
  border-bottom: 4px solid #28a1d8;
  padding-bottom: 20px;
}

section.OurExperts p {
  padding-top: 20px;
  font-size: 12px;
}

footer .bloc-top {
  background: #131313;
  padding: 30px 0;
}

footer .bloc-top h4 {
  color: #fff;
}

footer .bloc-top .flex-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 80%;
}

footer .bloc-top .flex-example div {
  width: 70px;
  height: 70px;
  background: #0175a4;
  margin-right: 10px;
  margin-bottom: 30px;
}

footer .bloc-botton {
  background: #0c0c0c;
  height: 70px;
  text-align: center;
}

footer .bloc-botton p {
  color: #fff;
  padding-top: 25px;
}

footer .input-group-btn {
  background: #0080ab;
}

footer .input-group-btn .btn {
  color: #fff;
  text-transform: uppercase;
}

/** icon social network **/
.fa {
  padding: 20px;
  font-size: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #0080ab;
}

.fa:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */